doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title=title
        link(rel="stylesheet", href="../public/style.css")
    body 
        h1 MCQ Web App
        div#container 
            form#form(action="/" method="post") 
                p.ques questions['name']
                ul
                    li questions['option_1']
                    li questions['option_3']
                    li questions['option_3']
                    li questions['option_4']
                input(type="submit", value="Finish")