<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#{title}</title>
    style
         include ../public/style.css
    
  </head>
  <body>
    <h1>#{content}</h1>
    <div id="container">
      <form action="/" method="post" id="form">
          <input type="text" name="longUrl" id="urlHolder" placeholder="  Enter your long url...">
          <div id="sizedH"> </div>
          <input type="submit" value="Shorten"id="btn">
      </form>
      <div id="sizedV"> </div>
      <div>
        <p>The shorten url is : #{shortUrl}</p>
      </div> 
    </div>
  </body>
</html>
