<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>response</title>
    <link rel="stylesheet" type="text/css" href="../public/response.css" />
  </head>

  <body>
    <div class="nav-bar">
      <div class="left">
        <div class="logo">
          <h2>Exam tantra</h2>
        </div>
      </div>
      <div class="right">
        <div class="logout">
          <button type="button" name="button" class="logout-btn">
            <a href="#">logout</a>
          </button>
        </div>
      </div>
    </div>

    <div class="response-page">
      <table>
        <tr id="head-row">
          <th>sno.</th>
          <th>code</th>
          <th>title</th>
          <th>submitted_by</th>
          <th>correct</th>
          <th>incorrect</th>
          <th>not attemped</th>
        </tr>
      </table>
    </div>

    <div class="footer">
      <p id="copy-right-text">Copyright By Exam-Tantra</p>
    </div>
  </body>
</html>
